GRADPATH_API_APP_NAME="GradPath API"
GRADPATH_API_APP_VERSION="0.1.0"
GRADPATH_API_CORS_ORIGINS='["http://localhost:3000"]'
GRADPATH_API_INTERNAL_API_TOKEN=""
GRADPATH_API_OPENROUTER_API_KEY=""
GRADPATH_API_OPENROUTER_MODEL=""
GRADPATH_API_OPENROUTER_SITE_URL="http://localhost:3000"
GRADPATH_API_OPENROUTER_APP_NAME="GradPath"
GRADPATH_API_ANALYSIS_TIMEOUT_SECONDS=45
